<%= form_with(model: @task, local: true, url: choose_new_or_edit) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %> <%= t('activerecord.errors.messages.count_of_errors') %></h2>

        <ul>
          <% @task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
  <% end %>

  <div class="field">
    <p><%= form.label :task_name, "Task name" %></p>
    <p><%= form.text_field :task_name %></p>
  </div>

  <div class="field">
    <p><%= form.label :content, "Details" %></p>
    <p><%= form.text_area :content %></p>
  </div>

  <div class="field">
    <p><%= form.label :deadline, "Deadline" %></p>
    <p><%= form.datetime_select :deadline %></p>
  </div>

  <div class="actions">
    <%= form.submit "Post task" %>
  </div>
<% end %>
