<h2>Task List</h2>
<p><%= notice %></p>
<%= form_with(url: tasks_path, method: :get, local: true) do |search_f| %>
  <%= search_f.label :task_name, t('view.search.search_tile') %>
  <%= search_f.text_field :task_name, placeholder: t('view.search.enter_title') %>
  <%= search_f.submit t('view.search.do_a_search'), class: "btn btn-default" %>
<% end %>
<br>
<br>
<button type="button" class="btn btn-default"><%= link_to t('view.models.task.new'), new_task_path %></button>
<%= link_to t('view.search.sort_by_deadline'),tasks_path(sort_expired: "true"), id: "sort_by_deadline", class: "task_row_deadline" %>
<table class="task_row">
  <thead>
    <tr>
      <th>Task name</th>
      <th>Details</th>
      <th>Status</th>
      <th>Deadline</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <td><%= task.content %></td>
        <td><%= task.status %></td>
        <td class="task_row_deadline" ><%= l task.deadline %></td>
        <td><%= link_to t('view.models.task.show'), task_path(task.id) %></td>
        <td><%= link_to t('view.models.task.edit'), edit_task_path(task.id), data: { confirm: t('edit_it_?') } %></td>
        <td><%= link_to t('view.models.task.delete'), task_path(task.id), method: :delete ,data: { confirm: t('delete_it?') } %>
      </tr>
    <% end %>
  </tbody>
</table>
