<h2>Task List</h2>
<p><%= notice %></p>
<button type="button" class="btn btn-default"><%= link_to t('view.models.task.new'), new_task_path %></button>
<%= link_to t('view.models.task.sort_by_deadline'), tasks_path(sort_expired: "true")  %>
<table class="task_row">
  <thead>
    <tr>
      <th>Task name</th>
      <th>Details</th>
      <th>Deadline</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <td><%= task.content %></td>
        <td><%= l task.deadline %></td>
        <td><%= link_to t('view.models.task.show'), task_path(task.id) %></td>
        <td><%= link_to t('view.models.task.edit'), edit_task_path(task.id), data: { confirm: t('edit_it_?') } %></td>
        <td><%= link_to t('view.models.task.delete'), task_path(task.id), method: :delete ,data: { confirm: t('delete_it?') } %>
      </tr>
    <% end %>
  </tbody>
</table>
