<div class="container" id="main_layout">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3>Task details</h3>
      <p>Task Name:</p>
      <p><%= @task.task_name %></p>
      <p>Details:</p>
      <p><%= @task.content %></p>
      <p>Status:</p>
      <p><%= @task.status %></p>
      <p>Priority:</p>
      <p><%= @task.priority %></p>
      <p>Deadline:</p>
      <p><%= l @task.deadline %></p>
      <p>Label:</p>
      <% @task.labels.each do |label| %>
      <p><%= label.name %></p>
      <% end %>
       <br>
      <%= link_to "back to the list", tasks_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
