<div class="container" id="main_layout">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3>Task details</h3>
      <strong>Task Name:</strong>
      <p><%= @task.task_name %></p>
      <strong>Details:</strong>
      <p><%= @task.content %></p>
      <strong>Status</strong>
      <p><%= @task.status %></p>
      <strong>Priority:</strong>
      <p><%= @task.priority %></p>
      <strong>Deadline:</strong>
      <p><%= l @task.deadline %></p>
      <strong>Label:</strong>
      <% @task.labels.each do |label| %>
      <h3 class="label label-info"><%= label.name %></h3>
      <% end %>
       <br>
       <br>
      <%= link_to "back to the list", tasks_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
