<div class="container">
  <div class="row">
    <div class="col-md-offset-5">
      <br>
      <h2>
        User List
        <%= link_to t('view.models.task.new'), new_admin_user_path, class: "btn btn-primary" %>
      </h2>
      <br>
    </div>
  </div>
</div>
<div class="container" id="main_layout">
  <div class="row">
    <div class="col-md-11">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="t_head">user_id</th>
            <th class="t_head"><%= t('view.models.admin.user_name') %></th>
            <th class="t_head">Email</th>
            <th class="t_head"><%= t('view.models.admin.task_count') %></th>
            <th class="t_head"><%= t('view.models.admin.authority_of_Administrator') %></th>
            <th colspan="3" class="t_head"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td class="admin_row"><%= user.id %></td>
            <td lass="admin_row"><%= user.name %></td>
            <td><%= user.email %></td>
            <td class="admin_row"><%= user.tasks.size %></td>
            <td class="admin_row"><%= user.admin %></td>
            <td><%= link_to 'show', admin_user_path(user), class: "btn btn-primary" %></td>
            <td><%= link_to 'edit', edit_admin_user_path(user), class: "btn btn-primary" %></td>
            <td><%= link_to 'delete', admin_user_path(user), method: :delete, data: { confirm: t('msg.delete_it?') }, class: "btn btn-danger" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-offset-6 col-md-6">
      <br>
      <%= paginate @users %>
    </div>
  </div>
</div>
